// COLORS

$BlueLight1: #C9D4F8;
$BlueLight2: #5F85DB;
$BlueLight3: #AFC1FF;

$BlueDark1: #161F3F;
$BlueDark2: #516BB7;
$OpacityBlueDark: #516bb7cf;

$Border: #88A2FF;

$ShadowColor: rgba(0, 0, 0, 0.15);
$ButtonShadowColor: rgba(0, 0, 0, 0.30);

$White: #ffff;
$Gray: #817E7E;
$WhiteGray: #a0a0a0;
$OpacityGray: #817e7e30;
$Dark: #252525;