@import '../../../styles/const.scss';

.content {
  width: 100%;
  max-width: 1275px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .mapWrap {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    width: 76vw;
    max-width: 1275px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1675px) {
      width: 97vmax;
    }

    @media screen and (max-width: 600px) {
      height: 250px;
    }

    @media screen and (max-width: 815px) {
      width: 94vmin;
    }
  }

  .contactsWrapper {
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 40px;
    padding: 40px 90px;
    width: 100%;
    border-top: 2px solid $Dark;

    @media screen and (max-width: 905px) {
      padding: 40px;
    }

    @media screen and (max-width: 530px) {
      padding: 40px;
    }

    .title {
      text-align: center;
      font-size: 30px;
      font-weight: 500;

      @media screen and (max-width: 440px) {
        font-size: 20px;
      }
    }

    .wrap {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 800px) {
        flex-direction: column;
        align-items: center;
        gap: 40px;
      }

      .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .sectionTitle {
          color: $Gray;
          font-size: 20px;
          letter-spacing: 2px;
          font-weight: 600;
        }

        .element {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .listItem {
            display: flex;
            align-items: center;
            gap: 5px;
            list-style: none;

            .text {
              font-weight: 500;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}