@import '../../../../styles/const.scss';

.selectorWrapp {
  display: flex;
  align-items: center;
  gap: 20px;

  .label {
    font-size: 14px;
    color: $White;
  }

  .selectorWrapper {
    gap: 10px;
    display: flex;
    flex-direction: column;

    .wrapp {
      position: relative;
      padding-bottom: 10px;
      max-width: fit-content;

      .selector {
        cursor: pointer;
        width: 200px;
        color: $White;
        background-color: $Border;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 15px;
        border-radius: 10px;
      }

      .activeSelector {
        cursor: pointer;
        width: 200px;
        color: $White;
        background-color: $Border;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 15px;
        border-radius: 10px 10px 0 0;
        // border-bottom: 2px solid black;
      }

      .selected {
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 13px;
        background-color: $Border;
        border-radius: 0 0 10px 10px;
        position: absolute;
        z-index: 1;
        top: 38px;

        .content {
          cursor: pointer;

          &:hover {
            color: $White;
            transition: ease-in .2s;
          }
        }
      }
    }
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    .inputWrapper {
      position: relative;
      padding-bottom: 10px;

      .input {
        border: none;
        background-color: $Border;
        color: $White;
        outline: none;
        font-size: 18px;
        padding: 9px 5px;
        border-radius: 10px;

        &::placeholder {
          color: $White;
        }
      }

      .error {
        font-size: 15px;
        position: absolute;
        top: 45px;
        left: 0;
        color: rgb(196, 60, 60);
      }
    }
  }
}

.label {
  font-size: 14px;
  color: $White;
}

.selectorWrapper {
  gap: 10px;
  display: flex;
  flex-direction: column;
  

  .wrapp {
    position: relative;
    padding-bottom: 10px;
    max-width: fit-content;

    .selector {
      cursor: pointer;
      width: 200px;
      color: $White;
      background-color: $Border;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 15px;
      border-radius: 10px;
    }

    .activeSelector {
      cursor: pointer;
      width: 200px;
      color: $White;
      background-color: $Border;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 15px;
      border-radius: 10px 10px 0 0;
      // border-bottom: 2px solid black;
    }

    .selected {
      width: 200px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 13px;
      background-color: $Border;
      border-radius: 0 0 10px 10px;
      position: absolute;
      z-index: 1;
      top: 38px;

      .content {
        cursor: pointer;

        &:hover {
          color: $White;
          transition: ease-in .2s;
        }
      }
    }
  }
}